@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* margin */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* share style */
.display-flex {
  display: flex;
}

.oragne {
  color: rgba(254, 163, 1, 1);
}

.sky-blue {
  color: rgba(1, 172, 253, 1);
}

.color {
  color: rgba(5, 212, 223, 1);
}

.address-color {
  color: rgba(93, 88, 239, 1);
}

.kblac {
  color: rgba(17, 17, 17, 1);
}

/* navbar style */
.navbar {
  width: 1160px;
  height: 62px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


.nav-link {
  text-decoration: none;
  margin-right: 32px;
}

.nav-item {
  list-style: none;
  font-size: 1.25rem;
  margin-top: 16px;
  font-weight: 500;
}

.nav-item-1 {
  list-style: none;
  font-size: 1.25rem;
  margin-top: 16px;
  font-weight: bold;
}



.nav-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 15px 15px 0 11px;
}

.nav-btn {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background-color: rgba(254, 163, 1, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
}

.nav-logo {
  width: 62px;
  height: 62px;
}

.header {
  width: 1158px;
  height: 575px;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  width: 640px;
  height: 330px;
  margin-top: 122px;
  margin-right: 50px;
}

.header-img {
  width: 468px;
  height: 575px;

}

.header-title h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.header-title p {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 24px;
}

.header-title button {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background-color: rgba(17, 17, 17, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  font-weight: bold;
}

/* Standard Curriculum style */
.bg-color-1 {
  width: 1920px;
  height: 879px;
  background-image: url("../assets/bg.png");
}

.bg-color-title {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  margin-top: 60px;
  font-size: 2.87rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);

}

.card-container {
  width: 1160px;
  height: 481px;
  margin-left: 370px;
  margin-top: 80px;
  gap: 28px;

}

.card-1 {
  width: 367px;
  height: 476px;
  background: linear-gradient(180deg, #DEF5FF, #FFFFFF);
  box-shadow: 5px 0 10px;
  border-radius: 18.86px;
  text-align: center;
}

.card-2 {
  width: 367px;
  height: 476px;
  background: linear-gradient(to bottom, #FFF4DC 20%, #FFFFFF 100%);
  box-shadow: 5px 0 10px;
  border-radius: 18px;
  text-align: center;
}

.card-3 {
  width: 367px;
  height: 476px;
  background: linear-gradient(180deg, #EEE1FF, #FFFFFF);
  box-shadow: 5px 0 10px;
  border-radius: 18.86px;
  text-align: center;
}

.card-1-img {
  margin-top: 65px;
  width: 130px;
  height: 111px;

}

.card-1-title {
  font-size: 1.53rem;
  margin-top: 30px;
  margin-bottom: 32px;
}

.card-1-description {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 38px;
}

.card-1-btn {
  color: rgba(100, 200, 255, 1);
}

.card-2-img {
  margin-top: 65px;
  width: 130px;
  height: 111px;

}

.card-2-title {
  font-size: 1.53rem;
  margin-top: 30px;
  margin-bottom: 32px;
}

.card-2-description {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 38px;
}

.card-2-btn {
  color: rgba(240, 170, 0, 1);
}

.card-3-img {
  margin-top: 65px;
  width: 130px;
  height: 111px;

}

.card-3-title {
  font-size: 1.53rem;
  margin-top: 30px;
  margin-bottom: 32px;
}

.card-3-description {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 38px;
}

.card-3-btn {
  color: rgba(135, 0, 255, 1);
}
.fa-solid-fa-angle{
  width: 130px;
  height: 60px;
  margin-left: 900px;
  margin-top: 80px;
  

  
}
.fas-fa-bar-1{
  width:60px;
  height: 60px;
  background-color: rgba(254, 163, 1, 1) ;
  border-radius: 50px;
}
.fas-fa-bar-2{
  width:60px;
  height: 60px;
  background-color: rgba(254, 163, 1, 1) ;
  border-radius: 50px;

}
/* our stories style */

.bg-color-2 {
  width: 1920px;
  height: 1018px;
  background-image: url("../assets/bg.png");
  background: linear-gradient( to top, #FFE9C3 ,  #FFFFFF);
  background: linear-gradient( to bottom, #FFFFFF ,  #FFE9C3);
}
.our-story-title {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  margin-top: 60px;
  font-size: 2.87rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);

}
.story-container{
  width: 1200px;
  height: 630px;
  margin-top: 80px;
  margin-left: 380px;
  justify-content: space-between;
}


.story-1{
  width: 540px;
  height: 630px;
  border-radius: 16px;
  background-color:#a9a9a9;
}
.story-1-img{
  width: 540px;
  height: 337px;
  border-radius: 16px;
}
.story-1-title{
  width: 463px;
  height: 76px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}
.story-1-description{
  width: 433px;
  height: 75px;
  font-size: 0.9rem;
  font-weight: 600px;
 text-align: center;
 margin-top: 47px;
 margin-left: 20px;
  

}

.story{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.box-1{
  width: 290px;
  height: 301px;
  border-radius: 16px;
  background-color:#a9a9a9;
}
.box-1 img{
  border-radius: 16px;
  width: 290px;
  height: 177px;
}
.box-1 h4{
  font-size: 0.95rem;
  font-weight: bold;
  margin-top: 33px;
  margin-left: 37px;
}
.box-2{
  width: 290px;
  height: 301px;
  border-radius: 16px;
  background-color:#a9a9a9;
}
.box-2 img{
  border-radius: 16px;
  width: 290px;
  height: 177px;
}
.box-2 h4{
  font-size: 0.95rem;
  font-weight: bold;
  margin-top: 33px;
  margin-left: 37px;
}
.box-3{
  width: 290px;
  height: 301px;
  border-radius: 16px;
  background-color:#a9a9a9;
}
.box-3 img{
  border-radius: 16px;
  width: 290px;
  height: 177px;
}
.box-3 h4{
  font-size: 0.95rem;
  font-weight: bold;
  margin-top: 33px;
  margin-left: 37px;
}
.box-4{
  width: 290px;
  height: 301px;
  border-radius: 16px;
  background-color:#a9a9a9;
}
.box-4 img{
  border-radius: 16px;
  width: 290px;
  height: 177px;
}
.box-4 h4{
  font-size: 0.95rem;
  font-weight: bold;
  margin-top: 33px;
  margin-left: 37px;
}

.our-btn{
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background-color: rgba(17, 17, 17, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 88px;
  margin-left:850px;
}

/* footer style */
.bg-color-3{
  width: 1920px;
  height: 519px;
  background-color: #01ACFD;
}
.footer{
  width: 1200px;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  margin-left: 320px;

  
}
.footer-item{
  list-style: none;
  
}
.footer-link{
  text-decoration: none;
  color: #FFFFFF;
}
.About{
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: bold;
}
.footers{
  flex-direction: column;
  
}
.footer-first-section{
  margin-bottom: 2rem;
}

.footer-first-section-description{
  width: 400px;
  height: 100px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #FFFFFF;
}
.footer-first-section-title{
  width: 206px;
  height: 80px;
  font-size: 2.63rem;
  font-weight: bold;
  color: #FFFFFF;

}




/* mobail device */
.hide {
  display: none;
}


@media screen and (max-width:576px) {

  .items,
  .nav-title,
  .nav-btn {
    display: block;
    display: none;
  }

  .navbar {
    width: 100%;
    border: 1px solid rgba(254, 163, 1, 1);
    margin-top: 0%;

  }

  .nav-logo {
    width: 46px;
    height: 46px;
    margin-top: 5px;


  }
.fas-fa-bars{
  display:block;
  padding: 10px;
  margin-left: 315px;
  
}

   

  .header {
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 350px;



  }

  .header-title {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .header-img {
    width: 100%;
    margin-top: 200px;


  }

  /* Standard Curriculum  */
  .bg-color-1 {
    width: 100%;


  }

  .bg-color-title {

    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 150px;

  }

  .card-container {
    flex-direction: column;
    width:100%;
    margin: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
  }
  .fa-solid-fa-angle{
    display: none;
  }
 
/* our story */
.story-1{
  display: none;
}
.bg-color-2{
  width: 100%;
  margin-top: 600px;
}
.our-btn{
  margin-left: 100px;
  
}
.story-container{
  width: 100%;
  margin: 0 10px 0 10px;
}
.story{
  background-size: 100%;
  width: 100%;
  margin: 0 10px 0 10px;


}


}